In [37]:
import pandas as pd

In [38]:
data_path = '/Users/apple/Desktop/finca_loans.xlsx'
df = pd.read_excel(data_path)

In [39]:
df.head()

,customer_number,new_account_number,loan_amount,start_date,end_date,loan_duration,interest_rate_monthly,cumulative_arrears,customer_quality,type_of_product,...,family_status,total_income,prior_loans,education_level,dependants,presence_of_housing,co_borrower,bad_client_30,bad_client_90,inflation_rate
0,136,1521080066627,1550.0,2021-08-05,2024-08-04,36,0.30,0,0,commercial,...,divorced,200.0,4,high_school,0.0,own_house,0.0,0,0,2.007
1,178,1761030064989,600.0,2021-07-08,2023-07-06,24,0.36,0,0,services,...,single,350.0,1,high_school,0.0,own_house,1.0,0,0,1.849
2,241,1511030065474,1500.0,2021-07-15,2023-12-12,29,0.30,0,0,agriculture,...,married,300.0,1,junior_high,6.0,own_house,1.0,0,0,1.849
3,76,1511030060879,1500.0,2021-03-31,2024-03-30,36,0.30,0,0,agriculture,...,single,300.0,2,junior_high,0.0,own_house,1.0,0,0,0.157
4,125,1012050059919,400.0,2021-03-14,2023-03-12,24,0.33,0,0,commercial,...,widowed,300.0,1,junior_high,1.0,family_house,1.0,0,0,0.157

In [47]:
df.columns

Index(['customer_number', 'new_account_number', 'loan_amount', 'start_date',
       'end_date', 'loan_duration', 'interest_rate_monthly',
       'cumulative_arrears', 'customer_quality', 'type_of_product',
       'status_of_loan', 'branch', 'customer_city_residence', 'gender', 'age',
       'family_status', 'total_income', 'prior_loans', 'education_level',
       'dependants', 'presence_of_housing', 'co_borrower', 'bad_client_30',
       'bad_client_90', 'inflation_rate'],
      dtype='object')

In [48]:
output_data = pd.DataFrame(df.dtypes).reset_index()\
                                        .rename(columns = {'index': 'column_name', 0: 'data_type'})

In [49]:
def inspect(df_name:str, col_cat:list=None, path_save:str=None):
    
    '''
    Function that inspects data types and unique valies for categorical columns
    for further documentation and history
    df_name: dataframe for the inspection
    col_cat: categorical columns that we need to get unique values
    path_save: directory and the name of the file to save in excel format .xlsx
    '''
    try:
        if df_name.split('.')[-1] == 'xlsx':
            df = pd.read_excel(df_name)
        elif df_name.split('.')[-1] == 'csv':
            df = pd.read_csv(df_name)
        else:
            return 'Upload xlsx or csv!'
    except Exception as e:
        raise ValueError(f'No such file in directory, {df_name}')
        
    
    
    if col_cat == None:
        temp1 = pd.DataFrame(df.dtypes).reset_index().rename(columns={'index': 'column_name', 0: 'data_type'})
        temp1['description']=None
        for i in temp1['column_name']:
            if not (pd.api.types.is_numeric_dtype(df[i]) | pd.api.types.is_datetime64_any_dtype(df[i])):
                temp1.loc[temp1['column_name']==i,'allowed_values'] = ', '.join(df[i].dropna().unique())
        temp1.allowed_values.fillna('Not categorical type', inplace=True)
    
    
    
#     If col_cat is given
    else:
        
        [col_cat.remove(i) for i in col_cat if (pd.api.types.is_numeric_dtype(df[i]) | pd.api.types.is_datetime64_any_dtype(df[i]))]
        temp1 = pd.DataFrame(df[col_cat].dtypes).reset_index().rename(columns={'index': 'column_name', 0: 'data_type'})
        temp1['description']= None
        
        for i in col_cat:
                temp1.loc[temp1['column_name']==i,'allowed_values'] = ', '.join(df[col_cat][i].dropna().unique())

    df_name='.'.join(df_name.split('.')[:-1])
    try:
        if path_save == None:
            temp1.to_excel(f'./{df_name}_desc' + ".xlsx")
        else:
            temp1.to_excel(f'{"/".join(path_save.split("/")[:-1])}/{df_name.split("/")[-1]}_desc' + ".xlsx")
        return "DONE"
    except Exception as e:
        raise ValueError(f'No such directory, {path_save}!')

In [50]:
%%time
inspect(df_name='/Users/apple/Desktop/finca_loans.xlsx', col_cat=['type_of_product','status_of_loan','branch','customer_city_residence','family_status','education_level','presence_of_housing'], path_save='/Users/apple/Desktop/')
# inspect(df_name='for.sample.test.xlsx',path_save='/Users/apple/Desktop/')

# inspect(df_name='for.sample.test.xlsx',path_save='/Users/apple/Deskto/')
# inspect(df_name='for.sample.tes.xlsx',path_save='/Users/apple/Desktop/')

CPU times: user 12.1 s, sys: 181 ms, total: 12.3 s
Wall time: 12.5 s

'DONE'

In [51]:
# df.family_status.unique()

In [52]:
# df.status_of_loan.unique()